.list {
    list-style-type: none;
}

.list li {
    display: inline-block;
}

button {
    width: 7em;
    background-color: white;
    border: 1px solid gray;
    border-radius: 0.5em;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.5s;
}

button:hover {
    background-color: lightskyblue;
    color: white
}